
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Intellij
.idea/
/out/
out/
# sbt
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/
project/project/
logs/
project/.sbtserver
.sbtserver/
# Scala-IDE specific
.scala_dependencies
.worksheet
# designing
modelling/.Qwixx - Software Engineering.vpp
modelling/Qwixx - Software Engineering.vpp.bak_000f
